/*--COMUM PRA TODAS----------------------------------------------------------*/
.body {
    font-family: poppins, sans-serif;
}
.header {
    background-color: rgba(0, 34, 77, 0.9);
    justify-content: center;
    
}
.cover {
    background-image: url(../img/coverfcp.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
}
.menu {
    width: 80%;
}

.nav-item {
    color: #ffffff;
}

.conteudo {
    background-color: rgba(93, 14, 65, 0.9);
}
.pag {
    width: 80%;
    justify-self: center;
    background-color: #ffffff;
    margin: 2px solid white;
}
.footer {
    background-color: rgba(0, 34, 77, 0.9);
    justify-content: center;
}

.offcanvas-body{
    color: #ffffff;
}
/*--PAGINAS----------------------------------------------------------*/

/*--HOME----------------------------------------------------------*/
.homecarousel {
    height: 40%;
}
.homecards {
    background-color: lightgray;
    justify-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    min-width: 97%;
    justify-self: center;
    margin-bottom: 2%;
}
.card-body {
    justify-items: center;
}
.grid{
    flex-wrap: wrap; 
}
.pai {
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.filho {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 2px;
    border-radius: 8px;
}
#filho_01 {
    background-image: url(../img/cat1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}
#filho_02 {
    background-image: url(../img/cat2.jpg);
    grid-column: 3/5;
    grid-row: 1/2;
}
#filho_03 {
    background-image: url(../img/cat3.jpg);
    grid-column: 3/4;
    grid-row: 2/3;
}
#filho_04 {
    background-image: url(../img/cat4.jpg);
    grid-column: 4/5;
    grid-row: 2/3;
}
/*-----------------------------Sobre-------------------------------*/
#clientes {
    background-color: #f7f7f7;
    
}

/*-----------------------------Eventos-------------------------------*/
#mapaeventos{
    background-color: #f7f7f7;
}

/*--FAQ----------------------------------------------------*/
.accordion__content {
    display: none;
}
.show_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.accordion {
    width:100%;
    min-height: 80%;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
